<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>遇岛二维码登录</title>
    <script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
</head>
<body>

<center>
<!--<img src="http://price.cheeruislands.com\static\img\get_code.png" alt="">-->
</center>

</body>
<script>
    window.location = "https://open.weixin.qq.com/connect/qrconnect?appid=wxecfc3c0d1425ca34&redirect_uri=http%3A%2F%2Fprice.cheeruislands.com%2Fwechat%2FweLogin&response_type=code&scope=snsapi_login&state=STATE#wechat_redirect";
</script>
</html>